---
import Button from '../common/Button.astro';
---

<section class="py-10 px-4 bg-gray-50">
  <div class="container mx-auto max-w-4xl text-center">
    <h2 class="text-3xl font-bold text-primary mb-6">
      No te están ignorando, tu perfil no está jugando con las reglas del mercado actual
    </h2>

    <div class="space-y-6 text-lg md:text-xl text-gray-700 mb-10">
      <p>
        ❌ ¿Te postulas a vacantes y nunca te llaman?<br />
        ❌ ¿Sientes que tu perfil no refleja lo valioso que eres?<br />
        ❌ ¿Llegas a entrevistas inseguro y sin saber qué decir para destacar?
      <p>
        Si respondiste que sí, <strong>no es tu culpa</strong>. El mercado laboral cambió, pero a ti  <strong>nadie te enseñó a navegarlo.</strong>
      </p>
      <p>
        La buena noticia es que <strong>no necesitas postular más</strong>, ni rehacer tu vida profesional desde cero</strong>.
      </p>
      <p>
        Lo que sí necesitas es una <strong>estrategia clara de empleabilidad</strong>. <br />
        Una que te enseñe cómo moverte, comunicarte y prepararte.
      </p>
      <p>
        Con mi acompañamiento aprendes a:
      </p>
      <p>
        ☀️ Posicionar tu perfil donde los reclutadores sí miran<br />
        ☀️ Comunicar tu valor con claridad y seguridad<br />
        ☀️ Prepararte para entrevistas donde te eligen por quién eres
      </p>
      <p>
        Esto ya ha funcionado para <strong>más de 600 personas</strong>.<br />
        Y puede funcionar para ti en semanas, no en meses.<br />
      </p>
    </div>

    <Button
      variant="primary"
      text="Ver Planes"
      href="#planes"
    />
  </div>
</section>
